<!DOCTYPE html>
<html lang="en">
<head>
  <title>Avada Kedavra. .!!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .col-centered{
        float: none;
        margin: 0 auto;
    }
    .copy-left {
   display: inline-block;
   text-align: right;
   margin: 0px;
   -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
   }
  </style>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <div class="col-md-4 col-centered">
    <h1> Ὕπνος</h1>
</div>
<p>Soon to be abonded work. .!!<br>
Be cautios on Importing the data and Backup the database often like a day's eerands.
</p>
  </div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <a href="/admin" class="btn btn-primary btn-lg" role="group">Admin Panel</a>
</div>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="/add" class="btn btn-primary btn-lg" role="group">Add Tracker</a>
    <a href="/view" class="btn btn-primary btn-lg" role="group">Whole View</a>
  </div>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <!--<a href="#" class="btn btn-primary btn-lg" role="group">Link Button</a>
      <a href="/view" class="btn btn-primary btn-lg" role="group">Whole View</a>-->

      <a href="/post/all" class="btn btn-primary btn-lg" role="group">Updates Tracker</a>
      <a href="/post/upload" class="btn btn-primary btn-lg" role="group">Add Updates</a>
  </div>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a href="/sop" class="btn btn-primary btn-lg" role="group">SOP download links</a>
  </div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <a href="/admin/csvimport/csvimport/" class="btn btn-primary btn-lg" role="group">Import From CSV</a>
  <a href="/export" class="btn btn-primary btn-lg" role="group">Export to CSV</a>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <a href="http://127.0.0.1:8000/goal/admin/auth/group/" class="btn btn-primary btn-lg" role="group">User Groups</a>
  <a href="http://127.0.0.1:8000/goal/admin/auth/user/" class="btn btn-primary btn-lg" role="group">Allowd Users</a>
</div>
<div class="col-md-1 col-centered">
<span class="copy-left">©</span>
</div>
</body>
</html>
