{% load staticfiles %}
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Trackie - SOP Downloads</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="https://snarledstudios.files.wordpress.com/2011/04/icon2x15.png" />
<link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
<link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">

<style>

.panel-default{
    text-align:center;
    cursor:pointer;
    font-family: 'Raleway',sans-serif;
}
.panel-default > .panel-footer {
    color: #fff;
    background-color: #47c8ed;
    display:none;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.panel-default i{
    font-size: 5em;
    }
</style>
<script>
$(function(){
$('.panel').hover(function(){
      $(this).find('.panel-footer').slideDown(250);
  },function(){
      $(this).find('.panel-footer').slideUp(250); //.fadeOut(205)
  });
})


</script>
</head>
<body>
  <div class="row">
    <ul class="nav nav-pills">
      <li><a href="/"><span class="glyphicon glyphicon-home" ></span>  Home</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-book"></span>Documentation</a></li>
      <li><a href="http://127.0.0.1:8000/admin/logout/"><span class="glyphicon glyphicon-share"></span>Log me Out</a></li>
    </ul>
</div>
<i class="fa fa-creative-commons"></i>
<div class="row">
  <div class="col-md-2 col-sm-2 col-md-offset-3 box0">
          <div class="panel panel-default">
              <div class="panel-body">
                  <h2>Item Attributes</h2>
                  <p>Smooch Mee. . <br>I will show the footer panel to download</p>
              </div>
              <div class="panel-footer"><a class="btn btn-info btn-lg outline" href = "https://goo.gl/2efolI">Download</a></div>
          </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6">
          <div class="panel panel-default">
              <div class="panel-body">
                  <h2>OI Cloning User Doc</h2>
                  <p>Smooch Mee. .<br> I will show the footer panel to download</p>
              </div>
              <div class="panel-footer"><a class="btn btn-info btn-lg outline" href = "https://goo.gl/X1Ff82">Download</a></div>
          </div>
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h2>Price Scrapping</h2>
                      <p>Smooch Mee. .<br> I will show the footer panel to download</p>
                  </div>
                  <div class="panel-footer"><a class="btn btn-info btn-lg outline" href = https://goo.gl/p4P6y8>Download</a></div>
              </div>
              </div>
<div class="col-md-2 col-sm-6">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h2>Price Scraping Working doc</h2>
                          <p>Smooch Mee. .<br> I will show the footer panel to download</p>
                      </div>
                      <div class="panel-footer"><a class="btn btn-info btn-lg outline" href = "https://goo.gl/kLLq8O">Download</a></div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h2>Product Update</h2>
                          <p>Smooch Mee. .<br> I will show the footer panel to download</p>
                      </div>
                      <div class="panel-footer"><a class="btn btn-info btn-lg outline" href = "https://goo.gl/ZIRx9u">Download</a></div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h2>Store Merchants Flowchart</h2>
                          <p>Smooch Mee. .<br> I will show the footer panel to download</p>
                      </div>
                      <div class="panel-footer"><a class="btn btn-info btn-lg outline" href = "https://goo.gl/zbrq86">Download</a></div>
                  </div>
                  </div>
                  <div class="col-md-2 col-sm-6 col-xs-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h2>Cloning User doc</h2>
                                            <p>Smooch Mee. .<br> I will show the footer panel to download</p>
                                        </div>
                                        <div class="panel-footer"><a class="btn btn-info btn-lg outline" href = "https://goo.gl/wivxSH">Download</a></div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <h2>Store Merchants Flowchart</h2>
                                            <p>Smooch Mee. .<br> I will show the footer panel to download</p>
                                        </div>
                                        <div class="panel-footer"><a class="btn btn-info btn-lg outline" href = "https://goo.gl/zbrq86">Download</a></div>
                                    </div>
                                    </div>


</div>
</div>
